{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}
    <img class="homeWallpaper" src="{{ asset('/build/images/wallpaper/wallpaperKorea1.jpg') }}" alt="wallpaper">
    <h1 class="welcomeMessageHomePage">Bienvenu sur <span class="movieBoxWelcomMessageHomePage">MovieBox</span></h1>
{% endblock %}
