{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}
    {# <img class="homeWallpaper" src="{{ asset('/build/images/wallpaper/wallpaperKorea1.jpg') }}" alt="wallpaper"> #}
    <div class="homeWallpaper"></div>
{% endblock %}
