{% extends 'base.html.twig' %}

{% block title %}New Comment{% endblock %}

{% block body %}
    <div class="containerFormNew">
        <h1 class="newFormNewTitle">Créer une nouveau commentaire</h1>

        {{ include('comment/_form.html.twig') }}
    </div>
{% endblock %}
