{{ form_start(form) }}
    <div class="containerNewCategoryForm">
        <div class="containerCategoryFormName">
            <div class="itemCategoryFormName">{{ form_row(form.name) }}</div>
        </div>
        <button class="NewCategorySubmitButton">{{ button_label|default('Créer') }}</button>
    </div>
{{ form_end(form) }}
