{% extends 'base.html.twig' %}

{% block title %}Modifier la catégorie{% endblock %}

{% block body %}
    <div class="containerFormEdit">
        <h1 class="newFormNewTitle">Modifier la catégorie</h1>

        {{ include('category/_form.html.twig', {'button_label': 'Update'}) }}

        {{ include('category/_delete_form.html.twig') }}
    </div>
{% endblock %}
