{% extends 'base.html.twig' %}

{% block title %}Séries - {{ parent() }}{% endblock %}

{% block body %}
    <div class="containerProgramsPage">
        <div class="itemAllProgram">
            <h1>Toutes les séries: </h1>
            {% for program in programs %}
                    <h2>{{ program.title }}</h2>
                    <img class="allProgramsPosterShow" src="{{ program.poster }}" alt="poster program">
                    <a class="showProgramButton" href="{{ path("program_show", { id: program.id }) }}">Voir la fiche</a>
            {% else %}
                Aucune série trouvée.
            {% endfor %}
        </div>
    </div>
    {% include "/includes/_footer.html.twig" %}
{% endblock %}
