{% extends 'base.html.twig' %}

{% block title %}Nouvelle série | {{ parent() }}{% endblock %}

{% block body %}
    <div class="containerFormNew">
        <h1 class="newFormNewTitle">Créer une nouvelle série</h1>

        {{ include('program/_form.html.twig') }}
    </div>
{% endblock %}
