{% extends 'base.html.twig' %}

{% block title %}New Program{% endblock %}

{% block body %}
    <div class="containerNewProgram">
        <h1 class="newProgramTitle">Créer une nouvelle série</h1>

        {{ include('program/_form.html.twig') }}
    </div>
{% endblock %}
