{% extends 'base.html.twig' %}

{% block title %}Edit Actor{% endblock %}

{% block body %}
    <h1>Modification de l'acteur</h1>
    {{ include('actor/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
{% endblock %}
