{% extends 'base.html.twig' %}

{% block title %}Actor index{% endblock %}

{% block body %}
    <h1>Actor index</h1>

        <tbody>
        {% for actor in actors %}
            <img class="actorPicture" src="{{ asset('uploads/' ~ actor.picture) }}" alt="Actor Picture"/>
            <p>{{ actor.name }}</p>
        {% else %}
            <td colspan="3">no records found</td>
        {% endfor %}
{% endblock %}
