{% extends 'base.html.twig' %}

{% block title %}Acteurs - {{ parent() }}{% endblock %}

{% block body %}
<div class="containerActorsPage">
    <h1>Tout les acteurs</h1>
    <div class="itemAllActors">
        {% for actor in actors %}
        <div class="containerActorItem">
            <div class="actorItem">
                <a href="{{ path("actor_show", { id: actor.id }) }}"><img class="allActorsPictureShow" src="{{ '/uploads/' ~ actor.picture }}" alt="Actor Picture"/></a>
                <h2>{{ actor.name }}</h2>
            </div>
        </div>
        {% else %}
            <p>Pas de resultats trouvé</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
