{% extends 'base.html.twig' %}

{% block title %}Actor{% endblock %}

{% block body %}
    <div class="containerShowActor">
        <h1 class="ShowActorTitle">{{ actor.name }}</h1>
        <img src="{{ asset('uploads/' ~ actor.picture) }}" alt="Actor Picture">
        {% if is_granted("ROLE_ADMIN") %}
            <a href="{{ path('actor_edit', {'id': actor.id}) }}">Modifier l'acteur</a>
            {{ include('actor/_delete_form.html.twig') }}
        {% endif %}
    </div>
{% endblock %}
