{% extends 'base.html.twig' %}

{% block title %}Actor{% endblock %}

{% block body %}
    <div class="containerShowActor">
        <h1 class="ShowActorTitle">{{ actor.name }}</h1>
        <a href="{{ path('actor_edit', {'id': actor.id}) }}">edit</a>
        {{ include('actor/_delete_form.html.twig') }}
    </div>
{% endblock %}
