<nav class="Navbar">
  <a class="navbar-brand" href="{{ path('home_index') }}"><img class="navbar-logo" src="{{ asset('/build/images/logo/code.svg') }}" alt="Logo SandBox" style="width: 50px;"/></a>
  <div class="containerNavbar">
    <div class="containerItems">
      <div class="items">
        <a class="itemPrograms" href="{{path('program_index') }}">Séries</a>
      </div>
      <div class="items">
          <a class="itemCategory" href="">Catégorie</a>
      </div>
    </div>
  </div>
  <a class="navbar-logout" href="{{ path('app_logout') }}">Se déconnecter</a>
</nav>