<nav class="Navbar">
  <div class="containerNavbar">
    <a class="navbar-brand" href="{{ path('home_index') }}"><img class="navbar-logo" src="{{ asset('/build/images/logo/moviebox.svg') }}" alt="Logo SandBox" style="width: 120px;"/></a>
  <div class="containerItems">
    <a class="itemPrograms" href="{{path('program_index') }}">Séries</a>
    <a class="itemCategory" href="">Catégorie</a>
    </div>
  </div>
  <div class="navRightSide">
    <input id="searchBar" type="text">
    <a class="navbar-logout" href="{{ path('app_logout') }}">Déconnexion</a>
  </div>
</nav>