{% extends 'base.html.twig' %}

{% block title %}Acteurs - Administration{% endblock %}

{% block body %}
    <div class="containerItemList">
        <h1 class="listAdminTitle">Liste des Acteurs</h1>

        {% for actor in actors %}
            <div class="containerListCards">
                <div class="containerListItem">
                    <div class="itemListLabel">Id</div>
                    <div class="itemListContent">{{actor.id}}</div>
                </div>
                <hr>
                <div class="containerListItem">
                    <div class="itemListLabel">Nom</div>
                    <div class="itemListContent">{{actor.name}}</div>
                </div>
                <hr>
                <div class="containerListItem">
                    <div class="itemListLabel">Actions</div>
                    <div class="containerListItemButtons">
                        <a class="itemListContentButtons" href="{{ path('actor_show', {'id': actor.id}) }}">Voir</a>
                        <a class="itemListContentButtons" href="{{ path('actor_edit', {'id': actor.id}) }}">Modifier</a>
                    </div>
                </div>
            </div>
        {% else %}
            <p>Aucun résultat</p>        
        {% endfor %}
    </div>
{% endblock %}