{% extends 'base.html.twig' %}

{% block title %}Catégories - Administration{% endblock %}

{% block body %}
    <div class="containerCategoriesList">
        <h1 class="categoriesListAdminTitle">Liste des Categories</h1>

        {% for category in categories %}
            <div class="containerCategoryListCards">
                <div class="containerCategoryListItem">
                    <div class="itemCategoryListLabel">Id</div>
                    <div class="itemCategoryListContent">{{category.id}}</div>
                </div>
                <hr>
                <div class="containerCategoryListItem">
                    <div class="itemCategoryListLabel">Nom</div>
                    <div class="itemCategoryListContent">{{category.name}}</div>
                </div>
                <hr>
                <div class="containerCategoryListItem">
                    <div class="itemCategoryListLabel">Actions</div>
                    <div class="containerCategoryListItemButtons">
                        <a class="itemCategoryListContentButtons" href="{{ path('category_show', {'id': category.id}) }}">Voir</a>
                        <a class="itemCategoryListContentButtons" href="{{ path('category_edit', {'id': category.id}) }}">Modifier</a>
                    </div>
                </div>
            </div>
        {% else %}
            <p>Aucun résultat</p>        
        {% endfor %}
    </div>
{% endblock %}