{% extends 'base.html.twig' %}

{% block title %}New Role{% endblock %}

{% block body %}
    <div class="containerNewRole">
        <h1 class="newRoleTitle">Créer un nouveau rôle</h1>
        {{ include('role/_form.html.twig') }}
        <div class="containerNewRoleButtons">
            <a class="newRoleBackButton" href="{{path('home_index')}}">Retour</a>
        </div>
    </div>
{% endblock %}
