{% extends 'base.html.twig' %}

{% block title %}Nouveau rôle | {{ parent() }}{% endblock %}

{% block body %}
    <div class="containerFormNew">
        <h1 class="newFormNewTitle">Créer une nouveau rôle</h1>

        {{ include('role/_form.html.twig') }}
    </div>
{% endblock %}
