body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 14%);
    font-family: sans-serif;
}
//NAVBAR
.Navbar {
    position: fixed;
    top: 0;
    width: 100%;

    background-color: hsl(0, 1%, 24%);
    display: flex;
}
.navbar-brand, .navbar-logout {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-logout {
    color: white;
    text-decoration: none;
}
.navbar-brand {
    padding: 0px 10px;
    margin-right: 10px;
}
.navbar-logout {
    padding: 0px 10px;
    margin-left: auto;
}
.containerItems {
    display: flex;
    align-items:center;
}
.containerItems .items {
    margin: 10px;
}
.containerNavbar {
    display: flex;
    list-style-type: none;
    margin: 10px;
}
.itemPrograms, .itemCategory {
    text-decoration: none;
    color: white;
}
.footer {
    height: 40px;
}

@media (max-width: 411px) {
    .navbar-brand {
        margin-right: 0px;
    }
    .Navbar {
        font-size: 0.8rem;
    }
}

//HOMEPAGE
.containerHomePage {
    height: calc(100vh - 56px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerHomePage p {
    font-size: 2rem;
    font-weight: bold;
    color: white;
}
//ALL PROGRAMS
.containerProgramsPage h1 {
    text-align: center;
    color: white;
}
.itemAllProgram {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.showProgramButton {
    color: HSL(2, 97%, 62%);;
}
.allProgramsPosterShow {
    margin: 15px 15px 0px 15px;
    width: 280px;
    height: 400px;
}
.containerProgramItem {
    margin: 10px;
}
.programItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 285px;
}
.programItem h2 {
    color: white;
    margin-bottom: 10px;
}
//SHOW
.programPosterShow {
    width: 320px;
}
.containerProgramShow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.containerContentProgramShow {
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.itemProgramShow {
    background-color: HSL(300, 0%, 23%);
    margin-top: 100px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
/*     flex-direction: column; */
}
.itemProgramShow p {
    text-align: center;
    color: white;
}
.programTitleShow {
    font-size: 3rem;
    color: HSL(2, 97%, 62%);
}
.programShowSynopsisLabel {
    font-size: 1.8rem;
    margin: 0;
}
.programShowSynopsisContent {
    width: 80%;
}
.categoryShowTitle {
    color: HSL(2, 97%, 62%);
}
.categoryShowInformation {
    font-weight: bold;
}
.backToListProgramShow {
    margin-top: 20px;
    color: HSL(2, 97%, 62%);
    text-decoration: none;
}
@media (max-width: 1190px) {
    .programTitleShow {
        font-size: 1.8rem;
    }
}
@media (max-width: 910px) {
    .programTitleShow {
        font-size: 1.6rem;
    }
    .itemProgramShow {
        flex-direction: column;
    }
    .programPosterShow {
        margin-top: 40px;
    }
    .itemProgramShow {
        width: 100%;
    }
}
@media (max-width: 640px) {

}

//LOGIN & REGISTER
.homepageLogin, .homepageRegister {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.containerLogin, .containerRegister {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.containerLogin form, .containerRegister form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.containerRegistrationForm {
    display: flex;
    justify-content: center;
    width: 50%;
    text-align: center;
}
.loginConnectedTitle, .registerTitle {
    color: white;
}
.containerLoginInputEmail label, .containerLoginInputPassword label {
    color: white;
}
.containerRegistrationForm label {
    color: white;
}
.registerBackButton {
    text-decoration: none;
    color: HSL(2, 97%, 62%);
}
.home-logo-login {
    width: 80%;
    margin-bottom: 100px;
}
.home-logo-register {
    width: 40%;
    margin-bottom: 100px;
}
.containerLogin, .containerRegister {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.containerAuthButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subscriptionText {
    text-decoration: none;
    color: HSL(2, 97%, 62%);
}
.submitConnexion, .submitRegistration {
    padding: 15px 125px;
    border: none;
    background-color: HSL(2, 97%, 62%);
    font-size: 1rem;
    text-decoration: none;
    color: rgb(245, 245, 245);
    margin: 20px;
    cursor: pointer;
}
.submitConnexion a, .submitRegistration a {
    text-decoration: none;
    color: hsl(0, 0%, 96%);
}
.containerLoginInputEmail, .containerLoginInputPassword {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
#inputPassword, #inputEmail, #registration_form_email, #registration_form_plainPassword_first, #registration_form_plainPassword_second {
    margin: 10px;
    text-align: center;
    padding: 15px 100px;
    border: none;
}
