body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 14%);
    font-family: sans-serif;
}
//NAVBAR
.Navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: hsla(0, 1%, 24%, 0.66);
    display: flex;
}
.navbar-brand, .navbar-logout {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-logout {
    color: HSL(0, 57%, 45%);
    text-decoration: none;
    padding: 0px 10px;
    margin-left: auto;
    margin-right: 20px;
    font-size: 16px;
}
.navbar-brand {
    padding: 0px 10px;
    margin-right: 10px;
}
.containerItems {
    display: flex;
    align-items:center;
}
.containerItems .items {
    margin: 10px;
}
.containerNavbar {
    display: flex;
    list-style-type: none;
    margin: 10px;
}
.itemPrograms, .itemCategory {
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.footer {
    height: 40px;
}

@media (max-width: 438px) {
    .navbar-brand {
        margin-right: 0px;
    }
    .navbar-logout {
        font-size: 12px;
    }
    .itemPrograms, .itemCategory {
        font-size: 12px;
    }
}
@media (max-width: 380px) {
    .navbar-logout {
        font-size: 10px;
    }
    .itemPrograms, .itemCategory {
        font-size: 10px;
    }
}

//HOMEPAGE
.containerHomePage {
    height: calc(100vh - 56px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerHomePage p {
    margin: 20px;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-align: center;
}
//ALL PROGRAMS
.containerProgramsPage {
    margin-top: 100px;
}
.containerProgramsPage h1 {
    text-align: center;
    color: white;
}
.itemAllProgram {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.showProgramButton {
    color: HSL(0, 57%, 45%);
}
.allProgramsPosterShow {
    margin: 15px 15px 0px 15px;
    width: 280px;
    height: 400px;
}
.containerProgramItem {
    margin: 10px;
}
.programItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 285px;
}
.programItem h2 {
    color: white;
    margin-bottom: 10px;
}
//PROGRAM SHOW
.containerContentProgramShow {
    height: 100vh;
    padding: 0;
    display: flex;
    
}
.containerContentProgramShow {
    height: auto;
}
.containerProgramContent {
    background-color: hsla(0, 1%, 24%, 0.66);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding-top: 40px;
}
.containerPosterShow {
    margin-top: 100px;
    margin-left: 20px;
    display: flex;
    justify-content:center;
    align-items:center;
}
.programPosterShow {
    width: 600px;
}
.containerProgramTitleShow {
    display: flex;
    justify-content:center;
    align-items:center;
}
.programTitleShow {
    font-size: 2.5rem;
    color: HSL(0, 57%, 45%);
}
.containerProgramShowSynopsisLabel {
    display: flex;
    justify-content:center;
    align-items:center;
    margin-bottom: 20px;
}
.programShowSynopsisLabel {
    margin-top: 80px;
    color: white;
    font-size: 1.8rem;
}
.containerProgramShowSynopsisContent {    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.programShowSynopsisContent {
    color: white;
    width: 80%;
}
.categoryShowTitle {
    color: HSL(0, 57%, 45%);
}
.containerCategoryShowInformation {
    display: flex;
    justify-content: center;
    align-items: center;
}
.categoryShowInformation {
    margin: 20px 0px 20px 0px;
    color: white;
    font-weight: bold;
}
.containerSeasonShow {
    display: flex;
    flex-wrap: wrap;
}
.seasonNumberShow {
    color: HSL(0, 57%, 45%);
    font-weight: bold;
}
.containerSeasonShow a {
    color: HSL(0, 57%, 45%);
    text-decoration: none;
    margin: 10px;
}
.containerBackToListProgramShow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 220px;
}
.backToListProgramShow {
    margin: 20px;
    color: HSL(0, 57%, 45%);
    text-decoration: none;
}

@media (max-width: 900px) {
    .containerContentProgramShow {
        display: grid;
        height: 100vh;
        grid-template-areas: 
            "photo photo photo"
            "title title title"
            "synopsisTitle synopsisTitle synopsisTitle"
            "synopsisContent synopsisContent synopsisContent"
            "category category category"
            "backButton backButton backButton";
    }
    .containerProgramContent {
        background-color: none;
        width: 100vw;
        margin-top: 0px;
    }
    .containerPosterShow {
        grid-column: 2;
        display: flex;
        grid-area: photo;
        margin-left: 0px;
        margin-bottom: 40px;
    }
    .containerProgramTitleShow {
        grid-area: title;
    }
    .programTitleShow {
        margin-top: 40px;
        font-size: 1.7rem;
    }
    .containerProgramShowSynopsisLabel {
        grid-area: synopsisTitle;
    }
    .programShowSynopsisLabel {
        margin-top: 20px;
    }
    .containerProgramShowSynopsisContent {
        grid-area: synopsisContent;
    }
    .containerCategoryShowInformation {
        grid-area: category;
    }
    .containerBackToListProgramShow {
        grid-area: backButton;
    }
}
@media (max-width: 768px) {
    .programPosterShow {
        width: 420px;
    }
}
@media (max-width: 500px) {
    .programPosterShow {
        width:300px;
    }
}
@media (max-width: 360px) {
    .programPosterShow {
        width:250px;
    }
}
//SEASON SHOW
.containerEpisodes {
    margin-top: 100px;
}
.containerEpisodes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.EpisodeItemSeasonShow {
    width: 420px;
    height: 320px;
    margin: 15px 15px 0px 15px;
    background-color: rgba(62, 61, 61, 0.66);
}
.EpisodeItemSeasonShow a {
    text-decoration: none;
}
.episodeNumberNumberAndTitle {
    color: white;
    margin-top: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.episodeNumberNumberAndTitle div {
    margin: 0px 5px 0px 5px;
}
.episodePosterSeasonShow {
    width: 420px;
    height: 280px;
}
.containerBackToListSeasonShow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 280px;
}
.backToListSeasonShow {
    margin: 20px;
    color: HSL(0, 57%, 45%);
    text-decoration: none;
}
@media (max-width: 900px) {
    .EpisodeItemSeasonShow {
        width: 480px;
        height: 380px;
    }
    .episodePosterSeasonShow {
        width: 480px;
        height: 340px;
    }
}
@media (max-width: 530px) {
    .EpisodeItemSeasonShow {
        width: 340px;
        height: 260px;
    }
    .episodePosterSeasonShow {
        width: 340px;
        height: 220px;
    }
}
@media (max-width: 380px) {
    .EpisodeItemSeasonShow {
        width: 320px;
        height: 240px;
    }
    .episodePosterSeasonShow {
        width: 320px;
        height: 200px;
    }
}

//EPISODE SHOW
.containerContentEpisodeShow {
    background-color: hsla(0, 1%, 24%, 0.66);
}
.containerEpisodeTitleShow {
    display: flex;
    justify-content:center;
    align-items:center;
}
.episodeTitleShowEpisode {
    font-size: 2.5rem;
    color: HSL(0, 57%, 45%);
}
.containerEpisodeShowSynopsisLabel {
    display: flex;
    justify-content:center;
    align-items:center;
    margin-bottom: 20px;
}
.containerPosterEpisodeShow {
    margin-top: 100px;
    margin-left: 20px;
    display: flex;
    justify-content:center;
    align-items:center;
}
.episodeShowSynopsisLabel {
    margin-top: 80px;
    color: white;
    font-size: 1.8rem;
}
.containerEpisodeShowSynopsisContent {    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.episodeShowSynopsisContent {
    color: white;
    width: 80%;
}
.episodePosterShow {
    margin-top: 20px;
    width: 600px;
}
.containerBackToListEpisodeShow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 280px;
}
.backToListEpisodeShow {
    margin: 20px;
    color: HSL(0, 57%, 45%);
    text-decoration: none;
}

@media (max-width: 900px) {
    .containerContentEpisodeShow {
        height: 100vh;
/*         display: grid;
        grid-template-areas: 
            "photo photo photo"
            "title title title"
            "synopsisTitle synopsisTitle synopsisTitle"
            "synopsisContent synopsisContent synopsisContent"
            "backButton backButton backButton"; */
    }
    .containerEpisodeContent {
        background-color: none;
        width: 100vw;
        margin-top: 0px;
    }
    .containerPosterEpisodeShow {
        grid-column: 2;
        display: flex;
        grid-area: photo;
        margin-left: 0px;
        margin-bottom: 40px;
    }
    .containerEpisodeTitleShow {
        grid-area: title;
    }
    .episodeTitleShowEpisode {
        margin-top: 40px;
        font-size: 1.7rem;
    }
    .containerEpisodeShowSynopsisLabel {
        grid-area: synopsisTitle;
    }
    .episodeShowSynopsisLabel {
        margin-top: 20px;
    }
    .containerBackToListProgramShow {
        grid-area: backButton;
    }
}
@media (max-width: 768px) {
    .episodePosterShow {
        width: 420px;
    }
}
@media (max-width: 500px) {
    .episodePosterShow {
        width:300px;
    }
}
@media (max-width: 360px) {
    .episodePosterShow {
        width:250px;
    }
}

//LOGIN & REGISTER
.homepageLogin, .homepageRegister {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.containerLogin, .containerRegister {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.containerLogin form, .containerRegister form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.containerRegistrationForm {
    display: flex;
    justify-content: center;
    width: 50%;
    text-align: center;
}
.loginConnectedTitle, .registerTitle {
    color: white;
}
.containerLoginInputEmail label, .containerLoginInputPassword label {
    color: white;
}
.containerRegistrationForm label {
    color: white;
}
.registerBackButton {
    text-decoration: none;
    color: HSL(0, 57%, 45%);
}
.home-logo-login {
    width: 80%;
    margin-bottom: 100px;
}
.home-logo-register {
    width: 40%;
    margin-bottom: 100px;
}
.containerLogin, .containerRegister {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.containerAuthButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subscriptionText {
    text-decoration: none;
    color: HSL(2, 97%, 62%);
}
.submitConnexion, .submitRegistration {
    padding: 15px 125px;
    border: none;
    background-color: HSL(0, 57%, 45%);
    font-size: 1rem;
    text-decoration: none;
    color: rgb(245, 245, 245);
    margin: 20px;
    cursor: pointer;
}
.submitConnexion a, .submitRegistration a {
    text-decoration: none;
    color: hsl(0, 0%, 96%);
}
.containerLoginInputEmail, .containerLoginInputPassword {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
#inputPassword, #inputEmail, #registration_form_email, #registration_form_plainPassword_first, #registration_form_plainPassword_second {
    margin: 10px;
    text-align: center;
    padding: 15px 100px;
    border: none;
}
