//==================================================//
//VARIABLE
//==================================================//
$main-color: hsl(0, 57%, 45%);
$secondary-color: hsl(0, 0%, 34%); 
$third-color: hsl(270, 4%, 91%);

@font-face {
    font-family: "GoboldBold";
    src:url("../Fonts/GoboldBold.woff") format("opentype");
}
@font-face {
    font-family: "GoboldRegular";
    src:url("../Fonts/GoboldRegular.woff") format("opentype");
}
@font-face {
    font-family: "PoppinsRegular";
    src:url("../Fonts/PoppinsRegular.woff") format("opentype");
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 14%);
    font-family: "PoppinsRegular";
    
    color: $third-color;
    
}


//==================================================//
//NAVBAR
//==================================================//
/* Dropdown Button */
.accountLogo {
    width: 30px;
    margin: 10px;
}
.dropbtn {
    background-color: rgba(62, 61, 61, 0);
    color: $third-color;
    padding: 0;
    margin: 0;
    font-size: 12px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}
.dropbtnArrowInactive, .dropbtnArrowActive {
    margin-left: 5px;
    height: 8px;
    width: 8px;
}
.dropbtnArrowActive {
    display: none;
}
.dropbtn:hover {
    color: $main-color;

    .dropbtnArrowActive {
        display: block;
    }
    .dropbtnArrowInactive {
        display: none;
    }
}
/* The container needed to position the dropdown content */
.navDropdown {
    position: relative;
    display: none;
}
/* Dropdown Content (Hidden by Default) */
.navDropdown-content {
    display: none;
    position: absolute;
    top: 31px;
    background-color: hsla(0, 1%, 24%, 0.66);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Links inside the dropdown */
.navDropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.navDropdown-content a:hover {
    background-color: $main-color;
}
/* Show the dropdown menu on hover */
.navDropdown:hover .navDropdown-content {
    display: block;
}
.navDropdown .navDropdown-content {
	visibility: hidden;
	transition: all 0.5s;
}
.dropbtn:hover .navDropdown-content {
	visibility: visible;
	transition-delay: 0s;
}
.navDropdown-content {
    display: flex;
    flex-direction: column;
}

.navbar-logo {
    margin-bottom: 4px;
    width: 120px;
}
.Navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: hsla(0, 1%, 24%, 0.66);
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: grid;
    grid-template-areas: 
    "logo items searchNdeco";
    font-family: 'GoboldBold';
}
.navRightSide {
    display: flex;
    border-radius: 0px 10px 10px 0px;
    margin-right: 20px;
    grid-area: searchNdeco;
}
.navbar-brand, .navbar-logout {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-logout {
    color: $main-color;
    text-decoration: none;
    margin: 0px 10px 0px 30px;
    font-size: 16px;
}
#searchForm {
    display: flex;
    align-items: center;
}
#searchBar {
    border: none;
    border-radius: 10px 0px 0px 10px;
    height: 30px;
    width: 270px;
    text-align: center;
}
#submitSearchButton {
    border-radius: 0px 10px 10px 0px;
    border: none;
    background-color: $main-color;
    color: $third-color;
    height: 32px;
}
.containerSearchProgramFormMobile {
    display: none;
}
#searchFormActorMobile, #searchFormProgramMobile {
    display: flex;
    justify-content: center;    
}
#searchBarMobile {
    border: none;
    border-radius: 10px 0px 0px 10px;
    height: 30px;
    width: 210px;
    text-align: center;
}
#submitSearchMobileButton {
    border-radius: 0px 10px 10px 0px;
    border: none;
    background-color: $main-color;
    color: $third-color;
    height: 32px;
}
.navbar-brand {
    padding: 0px 10px;
    margin-right: 10px;
}
.containerNavbar {
    display: flex;
    align-items: center;
    vertical-align: middle;
    list-style-type: none;
    margin: 10px;
}
.containerItems {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.containerItems a {
    text-decoration: none;
}
.itemNav {
    color: $third-color;
    font-size: 16px;
    margin: 0px 10px 0px 10px;
}
.itemNav:hover {
    color: $main-color;
}
.navDropdown a {
    font-size: 12px;
}
.itemNavMobile {
    color: $third-color;
}
.itemNavAdminMobile {
    color: $main-color;
}
.itemNavAdminMobile:hover {
    color: $third-color;
}
.itemNavAdmin {
    margin: 0px 10px 0px 10px;
    color: $main-color;
}
.itemNavAdmin:hover {
    color: $third-color;
}
.footer {
    height: 40px;
}
@media (max-width: 890px) {
    .navbar-logo {
        width: 80px;
    }
    .navDropdown {
        display: block;
    }
    .containerItems {
        display: none;
    }
}
@media (max-width: 835px) {
    #searchBar {
        border: none;
        border-radius: 10px 0px 0px 10px;
        height: 30px;
        width: 200px;
        text-align: center;
    }
    #submitSearchButton {
        border-radius: 0px 10px 10px 0px;
        border: none;
        background-color: HSL(0, 57%, 45%);
        color: $third-color;
    }
}
@media (max-width: 780px) {
    .navbar-logout {
        margin: 0px 0px 0px 10px;
    }
    .navbar-logout {
        font-size: 12px;
    }
    .itemNav .dropbtn {
        font-size: 12px;
    }
}
@media (max-width: 670px) {

}
@media (max-width: 608px) {
    #searchBar {
        border: none;
        border-radius: 10px 0px 0px 10px;
        height: 30px;
        width: 160px;
        text-align: center;
    }
    #submitSearchButton {
        border-radius: 0px 10px 10px 0px;
        border: none;
        background-color: HSL(0, 57%, 45%);
        color: $third-color;
    }
    .navbar-logout {
        font-size: 11px;
    }
}
@media (max-width: 530px) {
    #searchBar, #submitSearchButton {
        display: none;
    }
    #searchForm {
        display: none;
    }
    .containerSearchProgramFormMobile {
        display: block;
    }
}
@media (max-width: 438px) {
    .navbar-brand {
        margin-right: 0px;
    }
}

//==================================================//
//HOMEPAGE
//==================================================//

.homeWallpaper {
    width: 100%;
    height: 60vh;
}
.welcomeMessageHomePage {
    text-align: center;
    color: $third-color;
    font-family: 'GoboldBold';
    font-size: 3rem;
}
.movieBoxWelcomMessageHomePage {
    color: $main-color;
}
//==================================================//
//ALL PROGRAMS
//==================================================//
.containerProgramsPage {
    margin-top: 80px;
}
.containerProgramsPage h1 {
    text-align: center;
    color: $third-color;
    font-family: "GoboldBold";
}
.itemAllProgram {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.showProgramButton {
    color: $main-color;
}
.allProgramsPosterShow {
    margin: 15px 15px 0px 15px;
    width: 280px;
    height: 400px;
    border-radius: 10px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.allProgramsPosterShow:hover {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
}
.containerProgramItem {
    margin: 10px;
}
.programItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 285px;
}
.programItem h2 {
    color: $third-color;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: 'GoboldBold';
}
//==================================================//
//ALL ACTORS
//==================================================//
.containerSearchActorsForm {
    margin: 100px 0px 50px 0px;
    display: flex;
    justify-content: center;
}
.containerActorsPage {
    margin-top: 80px;
}
.containerActorsPage h1 {
    text-align: center;
    color: $third-color;
    font-family: 'GoboldBold';
}
.itemAllActors {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.allActorsPictureShow {
    margin: 15px 15px 0px 15px;
    width: 320px;
    height: 400px;
    border-radius: 10px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.allActorsPictureShow:hover {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
}
.containerActorItem {
    margin: 10px;
}
.actorItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.actorItem h2 {
    color: $third-color;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: 'GoboldBold';
}
//==================================================//
//PROGRAM SHOW
//==================================================//
.alertMessageNoItem {
    text-align: center;
    background-color: $main-color;
    color: $third-color;
    border: solid $third-color;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    margin-top: 50px;
}
.containerContentProgramShow {
    height: 100vh;
    padding: 0;
    display: flex;
    
}
.containerContentProgramShow {
    height: auto;
}
.containerProgramContent {
    background-color: hsla(0, 1%, 24%, 0.66);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.containerPosterShow {
    margin-top: 100px;
    margin-left: 20px;

    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.programPosterShow {
    width: 600px;
    border-radius: 10px;
}
.containerProgramTitleShow {
    display: flex;
    justify-content:center;
    align-items:center;
    font-family: 'GoboldRegular';
}
.programTitleShow {
    font-size: 2.5rem;
    color: $main-color;
}
.containerProgramShowSynopsisLabel {
    display: flex;
    justify-content:center;
    align-items:center;
    margin-bottom: 20px;
    font-family: 'GoboldBold';
}
.programShowSynopsisLabel {
    margin-top: 80px;
    color: $third-color;
    font-size: 1.8rem;
}
.containerProgramShowPersonLabel {
    display: flex;
    justify-content:center;
    align-items:center;
    margin-bottom: 20px;
}
.programShowPersonLabel {
    margin-top: 80px;
    color: $third-color;
    font-size: 1.8rem;
    font-family: 'GoboldBold';
}
.containerProgramShowSynopsisContent {    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.programShowSynopsisContent {
    color: $third-color;
    width: 80%;
}
.categoryShowTitle {
    color: $main-color;
}
.containerCategoryShowInformation {
    display: flex;
    justify-content: center;
    align-items: center;
}
.categoryShowInformation {
    margin: 20px 0px 20px 0px;
    color: $third-color;
    font-weight: bold;
}
.containerSeasonShow {
    display: flex;
    flex-wrap: wrap;
}
.seasonNumberShow {
    color: $main-color;
    font-weight: bold;
}
.containerSeasonShow a {
    color: $main-color;
    text-decoration: none;
    margin: 10px;
    font-size: 1.5rem;
}
.containerProgramPerson {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.programShowPersonPicture {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    align-self: center;
}
.containerAlertMessageNoItem p {
    text-align: center;
    background-color: $main-color;
    color: $third-color;
    border: solid $third-color;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    margin-top: 50px;
}
.containerItemPerson {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.containerItemPerson:hover {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
}

.containerItemPerson:hover {
    background-color: $secondary-color;
}
.containerLinkItemProgramPerson {
    color: $third-color;
    text-decoration: none;
}
.containerLinkItemProgramPerson li {
    display: flex;
    flex-direction: column;
}
.containerLinkItemProgramPerson:hover {
    background-color: $main-color;
}
.containerPersonNameProgramShow {
    margin-top: 10px;
    line-height: 10px;
    padding: 5px;
    background-color: hsla(0, 0%, 13%, 0.4);
    border-radius: 10px;
}
.roleItemPerson, .realNameItemPerson {
    color: $main-color;
}
.containerBackToListProgramShow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 220px;
}
.backToListProgramShow {
    margin: 20px;
    color: $main-color;
    text-decoration: none;
}

@media (max-width: 1200px) {
    .containerProgramContent {
        background-color: none;
        width: 100vw;
    }
    .containerPosterShow {
        display: flex;
        margin-left: 0px;
        margin-bottom: 40px;
    }
    .programTitleShow {
        margin-top: 40px;
        font-size: 1.7rem;
    }
    .programShowSynopsisLabel {
        margin-top: 20px;
    }
}
@media (max-width: 768px) {
    .programPosterShow {
        width: 420px;
    }
}
@media (max-width: 500px) {
    .programPosterShow {
        width:300px;
    }
}
@media (max-width: 380px) {
    .containerItemPerson {
        margin: 5px;
        padding: 10px;
    }
    .programShowPersonPicture {
        height: 280px;
        width: 270px;
    }
}
@media (max-width: 360px) {
    .programPosterShow {
        width:250px;
    }
}
//==================================================//
//SEASON SHOW
//==================================================//
.containerAlertMessageNoItem p {
    text-align: center;
    background-color: $main-color;
    color: $third-color;
    border: solid $third-color;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    margin-top: 50px;
}
.containerSeasonTeaserVideo {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seasonTeaserVideo {
    border-radius: 10px;
    width: 980px;
    height: 500px;
}
.containerEpisodes {
    margin-top: 100px;
}
.containerEpisodes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.EpisodeItemSeasonShow {
    width: 420px;
    height: 320px;
    margin: 15px 15px 0px 15px;
    background-color: rgba(62, 61, 61, 0.66);
    border-radius: 10px 10px 10px 10px;

	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.EpisodeItemSeasonShow:hover {
    -webkit-transform: scale(1.04);
	transform: scale(1.04);
}
.EpisodeItemSeasonShow a {
    text-decoration: none;
}
.episodeNumberNumberAndTitle {
    color: $third-color;
    display: flex;
    justify-content: center;
    align-items: center;
}
.episodeNumberNumberAndTitle div {
    margin: 0px 5px 0px 5px;
}
.episodePosterSeasonShow {
    width: 420px;
    height: 280px;
    border-radius: 10px 10px 0px 0px;
}
.episodeNoImage {
    width: 420px;
    height: 280px;
    border-radius: 10px 10px 0px 0px;
}
.containerBackToListSeasonShow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 280px;
}
.backToListSeasonShow {
    margin: 20px;
    color: $main-color;
    text-decoration: none;
}
@media (max-width: 1000px) {
    .seasonTeaserVideo {
        width: 900px;
        height: 520px;
    }
}
@media (max-width: 900px) {
    .EpisodeItemSeasonShow {
        width: 480px;
        height: 380px;
    }
    .episodePosterSeasonShow {
        width: 480px;
        height: 340px;
    }
    .seasonTeaserVideo {
        width: 700px;
        height: 420px;
    }
}
@media (max-width: 730px) {
    .seasonTeaserVideo {
        width: 620px;
        height: 420px;
    }
}
@media (max-width: 650px) {
    .seasonTeaserVideo {
        width: 480px;
        height: 380px;
    }
}
@media (max-width: 530px) {
    .EpisodeItemSeasonShow {
        width: 340px;
        height: 260px;
    }
    .episodePosterSeasonShow {
        width: 345px;
        height: 220px;
    }
}
@media (max-width: 515px) {
    .seasonTeaserVideo {
        width: 345px;
        height: 260px;
    }
}
@media (max-width: 365px) {
    .seasonTeaserVideo {
        width: 320px;
        height: 240px;
    }
}
@media (max-width: 380px) {
    .EpisodeItemSeasonShow {
        width: 320px;
        height: 240px;
    }
    .episodePosterSeasonShow {
        width: 320px;
        height: 200px;
    }
}
//==================================================//
//COMMENT SECTION
//==================================================//
.containerCommentSection {
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerComment div {
    display: flex;
    flex-direction: column;
}
.containerCommentManager {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.containerAvatar {
    display: flex;
    justify-content: flex-end;
    height: 160px;
    margin-right: 25px;
}
.accountLogoComment {
    width: 80px;
}
.containerHeader {
    display: flex;
}
.containerContent p {
    margin: 0 0 10px 0;
}
.containerHeaderComment {
    display: flex;
    margin-right: 10px;
}
.containerHeaderComment div {
    width: 560px;
    display: flex;
    flex-direction: row;
}
.commentHeaderContent {
    margin: 0 0 10px 0;
    font-weight: bold;
    color: $main-color;
}
.itemCommentManagerEdit {
    margin-right: 15px;
    font-size: 0.5rem;
    text-decoration: none;
    color: $third-color;
    background-color: $main-color;
    padding: 5px 10px;
    border-radius: 10px;
}
.itemCommentManagerDelete button {
    cursor: pointer;
    padding: 0;
    border: none;
    background: none;
    color: $main-color;
    font-size: inherit;
}
.commentLabel {
    color: $third-color;
}
.test {
    display: flex;
    justify-content: flex-start;
    width: 670px;
    background-color: $secondary-color;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

//==================================================//
//EPISODE SHOW
//==================================================//
.containerContentEpisodeShow {
    background-color: hsla(0, 1%, 24%, 0.66);
}
.containerEpisodeTitleShow {
    display: flex;
    justify-content:center;
    align-items:center;
}
.episodeTitleShowEpisode {
    font-size: 2.5rem;
    color: $main-color;
}
.containerEpisodeShowLabel {
    display: flex;
    justify-content:center;
    align-items:center;
    margin-bottom: 20px;
}
.containerPosterEpisodeShow {
    margin-top: 100px;
    margin-left: 20px;
    display: flex;
    justify-content:center;
    align-items:center;
}
.episodeShowLabel {
    margin-top: 80px;
    color: $third-color;
    font-size: 1.8rem;
}
.containerEpisodeShowContent {    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.episodeShowContent {
    color: $third-color;
    width: 80%;
}
.episodePosterShow {
    margin-top: 20px;
    width: 600px;
    border-radius: 10px;
}
.episodeNoImageShow {
    margin-top: 20px;
    width: 600px;
    border-radius: 10px;
}
.containerBackToListEpisodeShow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 280px;
}
.backToListEpisodeShow {
    margin: 20px;
    color: $main-color;
    text-decoration: none;
}
@media (max-width: 900px) {
    .containerContentEpisodeShow {
        height: 100vh;
    }
    .containerEpisodeContent {
        background-color: none;
        width: 100vw;
        margin-top: 0px;
    }
    .containerPosterEpisodeShow {
        grid-column: 2;
        display: flex;
        grid-area: photo;
        margin-left: 0px;
        margin-bottom: 40px;
    }
    .containerEpisodeTitleShow {
        grid-area: title;
    }
    .episodeTitleShowEpisode {
        margin-top: 40px;
        font-size: 1.7rem;
    }
/*     .containerEpisodeShowLabel {
        grid-area: synopsisTitle;
    } */
    .episodeShowLabel {
        margin-top: 20px;
    }
    .containerBackToListProgramShow {
        grid-area: backButton;
    }
}
@media (max-width: 768px) {
    .episodePosterShow {
        width: 420px;
    }
}
@media (max-width: 500px) {
    .episodePosterShow {
        width:300px;
    }
}
@media (max-width: 360px) {
    .episodePosterShow {
        width:250px;
    }
}

//==================================================//
//LOGIN & REGISTER
//==================================================//
.alertMessageLogin {
    text-align: center;
    background-color: $main-color;
    color: $third-color;
    border: solid $third-color;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    margin-top: 10px;
}
.containerMessageIsConnectedLogin a {
    color: $third-color;
    text-decoration: none;
}
.messageIsConnectedLogin {
    color: $main-color;
}
.homepageLogin, .homepageRegister {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.containerLogin, .containerRegister {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.containerLogin form, .containerRegister form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.containerRegistrationForm {
    display: flex;
    justify-content: center;
    width: 50%;
    text-align: center;
}
.loginConnectedTitle, .registerTitle {
    color: $third-color;
}
.containerLoginInputEmail label, .containerLoginInputPassword label {
    color: $third-color;
}
.containerRegistrationForm label {
    color: $third-color;
}
.registerBackButton {
    text-decoration: none;
    color: $main-color;
}
.home-logo-login {
    width: 80%;
    margin-bottom: 100px;
}
.home-logo-register {
    width: 40%;
    margin-bottom: 100px;
}
.containerLogin, .containerRegister {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.containerAuthButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subscriptionText {
    text-decoration: none;
    color: $main-color;
}
.submitConnexion, .submitRegistration {
    padding: 15px 125px;
    border: none;
    background-color: $main-color;
    font-size: 1rem;
    text-decoration: none;
    color: $third-color;
    margin: 20px;
    cursor: pointer;
}
.submitConnexion a, .submitRegistration a {
    text-decoration: none;
    color: $third-color;
}
.containerLoginInputEmail, .containerLoginInputPassword {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
#inputPassword, #inputEmail, #registration_form_email, #registration_form_plainPassword_first, #registration_form_plainPassword_second {
    margin: 10px;
    text-align: center;
    padding: 15px 100px;
    border: none;
}

//==================================================//
//ACTOR SHOW
//==================================================//
.alertMessageNoRoles {
    text-align: center;
    background-color: $main-color;
    color: $third-color;
    border: solid $third-color;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    margin-top: 50px;
}
.personNoImage {
    width: 400px;
    border-radius: 10px;
}
.containerShowPerson {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.containerShowActor h1 {
    font-family: 'GoboldBold';
}
.ShowPersonTitle {
    color: $main-color;
}
.personPicture {
    width: 400px;
    border-radius: 10px;
}
.containerPersonDescription {
    width: 80%;
    margin: 20px;
}
.personDescriptionLabel, .personRoleLabel {
    color: $main-color;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 80px;
    margin-bottom: 10px;
    font-family: 'GoboldBold';
}
.personDescriptionName {
    color: $main-color;
    font-size: 2rem;
    margin: 0;
    font-family: 'GoboldBold';
}
.personDescriptionNationalityLabel, .personDescriptionRoleLabel {
    color: $main-color;
    font-weight: bold;
    font-size: 1.2rem;
}
.personDescription, .personDescriptionNationality {
    color: $third-color;
}
.personRoleProgramTitle a {
    color: $third-color;
    text-decoration: none;
}
.personRoleProgramTitle:hover a {
    color: $main-color;
}
@media (max-width: 460px) {
    .actorPicture {
        width: 300px;
    }
}


//==================================================//
//ADMIN
//==================================================//


//==================================================//
//HOME ADMIN
//==================================================/
.containerAdminPage {
     margin-top: 100px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 .containeradminPage p {
     margin: 20px;
     font-size: 2rem;
     font-weight: bold;
     color: $third-color;
     text-align: center;
 }
.adminHomePannel {
    background-color: hsl(300, 1%, 13%);
    border: solid 1px $main-color;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}
.containerAdminHomePannel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.adminHomePannelTitle {
    margin: 0;
    color: $main-color;
    text-align: center;
}
.adminHomePannel .adminHomePannelInfo {
    color: $third-color;
    font-size: 0.8rem;
    margin: 0 0 20px 0;
}
.containerAdminHomePannel p {
    text-align: center;
}
.containerAdminItemAdd, .containerAdminItemEdit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.adminItem {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
    height: 10px;
    width: 200px;
    border-radius: 10px;
    text-align: center;
    background-color: $main-color;
    color: $third-color;
    margin: 10px 5px;
    text-decoration: none;
}
.adminItem:hover {
    background-color: $secondary-color;
}
.adminItemEasyAdmin {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
    height: 10px;
    width: 200px;
    border-radius: 10px;
    text-align: center;
    background-color: $secondary-color;
    color: $third-color;
    margin: 10px;
    text-decoration: none;
}
.adminItemEasyAdmin:hover {
    background-color: $main-color;
}
@media (max-width: 520px) {
    .adminHomePannel {
        width: 80%;
    }
}
//==================================================//
//ACTOR ADMIN
//==================================================//
.containerPersonAdmin {
    margin: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.personEdit {
    background-color: $main-color;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    height: 10px;
    width:140px;
    font-size: 0.7rem;
    color: $third-color;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
}
.actorEdit:hover {
    background-color: $secondary-color;
}
@media (max-width: 460px) {
    .actorEdit {
        margin: 20px;
        padding: 10px 20px;
        height: 10px;
        width:90px;
    }
    .actorEdit {
        font-size: 0.5rem;
    }
}
//==================================================//
//ADMIN LIST
//==================================================//
.containerItemList {
    margin-top: 100px;
}
.listAdminTitle {
    color: $main-color;
    text-align: center;
}
.containerListCards {
    background-color: $secondary-color;
    padding: 10px;
    margin: 40px;
    border-radius: 10px;
}
.itemListLabel {
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    color: $third-color;
    font-weight: bold;
    font-size: 1.3rem;
}
.itemListContent {
    padding: 5px;
    text-align: center;
}
.itemListContentButtons {
    background-color: $main-color;
    color: $third-color;
    border-radius: 10px;
    padding: 10px 100px;
    font-size: 0.7rem;
    margin: 0px 10px;
    text-decoration: none;
}
.containerListItemButtons {
    display: flex;
    padding: 10px 0px 0px 0px;
    align-items: center;
    justify-content: center;
}
//==================================================//
//PROGRAM ADMIN
//==================================================//
.containerProgramAdmin {
    margin: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.programEdit {
    background-color: $main-color;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    height: 10px;
    width:140px;
    font-size: 0.7rem;
    color: $third-color;
    text-decoration: none;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.programEdit:hover {
    background-color: $secondary-color;
    cursor: pointer;
}
@media (max-width: 500px) {
    .containerProgramAdmin {
        height: 50px;
    }
    .programEdit {
        margin: 20px;
        padding: 10px 20px;
        height: 10px;
        width:90px;
    }
}
@media (max-width: 360px) {
    .programEdit {
        width:60px;
    }
}

//==================================================//
//FORM
//==================================================//
.containerFormNew, .containerFormEdit {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.newFormNewTitle, .newFormEditTitle {
    color: $main-color;
    text-align: center;
}
.itemFormNewTextArea textarea, .itemFormNewSelect select, .itemFormNewSubmitButton {    
    width: 100%;
    border: none;
    border-radius: 10px;
    height: 40px;
    appearance: none;
    text-align: center;
    padding: 10px 0px;
}
.itemFormNewSimpleInput input {
    width: 100%;
    border: none;
    border-radius: 10px;
    height: 20px;
    appearance: none;
    text-align: center;
    padding: 10px 0px;
}
.itemFormNewSubmitButton {
    display: flex;
    justify-content: center;
    align-items: center;
}
.itemFormNewSelect select {
    text-align: center;
}
.containerFormNewElementsMultipleSelect {
    display: flex;
    justify-content: center;
}
.itemFormNewMultipleSelect {
    display: flex;
    flex-direction: column;
    width: 700px;
}
.itemFormNewMultipleSelect div {
    line-height: 50px;
}
.itemFormNewTextArea textarea {
    height: 200px;
}
.itemFormNewSimpleInput, .itemFormNewTextArea, .itemFormNewSelect, .itemFormNewUpload {
    display: flex;
    justify-content: center;
}
.itemFormNewSimpleInput div, .itemFormNewTextArea div, .itemFormNewSelect div, .containerFormNewElementButtons button, .itemFormNewUpload div {
    display: flex;
    flex-direction: column;
    width: 700px;
}
.containerFormNewButtons a {
    max-width: 700px;
}
.containerFormNewElementButtons, .containerFormNewButtons {
    display: flex;
    justify-content: center;
    
}
.containerFormNewElementButtons {
    margin-top: 10px;
}
.itemFormNewUpload div {
    width: 100%;
    max-width: 700px;
}
.itemFormNewUpload input[type='file'] {
    padding:10px;
    background-color: $third-color;
    border-radius: 10px;
}
.itemFormNewSimpleInput label, .itemFormNewTextArea label, .itemFormNewSelect label, .itemFormNewUpload label {
    color: $third-color;
    margin: 10px 0px;
}
.formNewBackButton {
    padding: 11px 0px;
    width: 100%;
    text-align: center;
    background-color: $main-color;
    color: $third-color;
    border-radius: 10px;
    font-size: 0.7rem;
    margin: 10px 0px 10px 0px;
    text-decoration: none;
}
.newProgramBackButton:hover {
    background-color: $secondary-color;
    cursor: pointer;
}
.itemFormNewSubmitButton {
    background-color: $main-color;
    color: $third-color;
    padding: 10px 0px;
}
.itemFormNewSubmitButton:hover, .formNewBackButton:hover {
    background-color: $secondary-color;
    cursor: pointer;

}
.itemFormDelete:hover {
    background-color: $secondary-color;

    .deleteButton {
        background-color: $secondary-color;
    }
}
.itemFormDelete .deleteButton {
    background-color: $main-color;
    border: none;
    color: $third-color;
    width:100%;
    cursor: pointer;
}
.itemFormNewSubmitButton .btn {
    width:100%;
}
.itemFormDelete {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    height:20px;
    cursor: pointer;
    padding: 11px 0px;
    width: 100%;
    background-color: $main-color;
    color: $third-color;
    border-radius: 10px;
}
@media (max-width: 768px) {
    .containerFormNew, .containerFormEdit {
        padding: 20px;
    }
}
@media (max-width: 445px) {
    .newFormNewTitle, .newFormEditTitle {
        font-size: 1.4rem;
    }
}
